{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <form action="{% url 'edit_entry' title=title %}" method="post">
        {% csrf_token %}

        <div><label for="new-entry-content">Edit Entry in the textbox</label></div>
        <!-- the existing content should be the initial value of the textarea -->
        <textarea id="new-entry-content" name="new-entry-content">{{ curr_entry_content }}</textarea>
        <div><input type="submit" value="Save Edit"></div>
    </form>
{% endblock %}