{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block nav %}
    <!-- title=title is to pass current entry's title into views.edit_entry -->
{% endblock %}

{% block body %}
    <!--By default, when substituting a value in a Django template, Django HTML-escapes the value to avoid outputting
    unintended HTML. If you want to allow for an HTML string to be outputted, you can do so with the safe filter
    (as by adding |safe after the variable name you’re substituting).-->
    {{ entry_content |safe }}
    <div class="edit-page"><a href="{% url 'edit_entry' title=title %}">Edit Page</a></div>
{% endblock %}