{% extends "auctions/layout.html" %}

{% block body %}
    <!-- this error will prompt to the user when user added redundant listing -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if listing %}
        {% if watchlist_exist and user.is_authenticated %}
            <div><strong>watchlisted</strong></div>
        {% endif %}
        <h2>Listing: {{ listing.title }}</h2>
        <figure>
            <img src={{ listing.img_url }} alt={{ listing.title }} width="300" height="300">
            <figcaption>{{ listing.title }}</figcaption>
        </figure>

        <div>Starting Price: RM{{ listing.starting_price }}</div>
        <div>Current Price: RM{{ current_price }}</div>
        <div>{{ listing.description }}</div>

        <h3>Details</h3>
        <ul>
            <li>Listed by: {{ listing.creator.username }}</li>
            {% if category %}
                <li>Category: {{ category.name }}</li>
            {% else %}
                <li> No Category. </li>
            {% endif %}
        </ul>

        {% if user.is_authenticated and user != listing.creator %} <!-- user don't need to add to watchlist or place a bid when it's his own listing-->
            <div>
                <form action="{% url 'add_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="watchlist-btn" value="Add to watchlist">
                </form>
            </div>

            <div>
                <form action="{% url 'place_bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <div>{{ bids_count }} so far. Place your bid now!</div>
                    <input type="number" placeholder="Bid" name="price">
                    <input type="submit" name="bid-btn" value="Place Bid">
                </form>
            </div>
        {% endif %}
        

        {% if user == listing.creator %}
            <div>
                <p>you can close this listing, this veryfication is worked! Leave it for now.</p>
            </div>
            <!-- <div>
                <form action="{% url 'close_listing' listing.id %}" method="post">
                    <input type="submit" value="Close this Listing">
                </form>
            </div> -->
        {% else %}
            
        {% endif %}
    {% else %}  
        <h2>{{ message }}</h2>
    {% endif %}
{% endblock %}  