{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing %}
        <h2>Listing: {{ listing.title }}</h2>
        <figure>
            <img src={{ listing.img_url }} alt={{ listing.title }} width="300" height="300">
            <figcaption>{{ listing.title }}</figcaption>
            <figcaption>RM{{ listing.starting_price }}</figcaption>
            <div>{{ listing.description }}</div>
        </figure>
    {% else %}  
        <h2>{{ message }}</h2>
    {% endif %}
{% endblock %}  