{% extends "tasks/layout.html" %} <!-- tells django we wish to have access to all the files in static folder-->

{% block body %}
    <h1>Add Tasks</h1>

    <!-- 
    this form action is to make sure the page will be redirected back to add.html when user had submitted something
    post method is what we will use when anytime a form could alter the state of the page -->

    <form action="{% url 'tasks:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    <a href="{% url 'tasks:index' %}">View Tasks</a>
    <a href="{% url 'tasks:add' %}">Add a new Task</a>

{% endblock %}
